<table class="friend">
    <tr>
        <td rowspan="2" class="friend_photo">
            {% if friend.profile.media %}
            <img src="{{ friend.profile.media.path }}" alt="photo" class="small_avatar">
            {% endif %}
        </td>
        <td class="friend_info">
            <a href="{{ url_for('user', username=friend.username) }}">{{ friend.username }}</a>

            <div>
                {% if friend.get_last_seen() == 'just now' %}
                online
                {% else %}
                last seen: {{ friend.get_last_seen() }}
                {% endif %}
            </div>
        </td>
    </tr>
    <tr class="friend_buttons">
        <td class="friend_buttons">
            <a href="{{ url_for('chat', username=friend.username) }}">Send message</a>
            <br>
            <a href="{{ url_for('approve_request', username=friend.username) }}">Accept</a>
            <br>
            <a href="{{ url_for('approve_request', username=friend.username) }}">Decline</a>
        </td>
    </tr>
</table>