<div class="post_form">
    <h4>Create post</h4>
    <form action="" method="POST" enctype="multipart/form-data" novalidate>
        {{ post_form.hidden_tag() }}
        <p>
            {{ post_form.text(class='post_form_text') }} <br>
        </p>
        <div class="post_form_footer">
            <div>
                {{ post_form.media(size=32) }}
            </div>
            <div>
                {{ post_form.submit(class="post_form_submit") }}
            </div>
        </div>

    </form>
</div>