<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}
        My project - {{ title }}
        {% else %}
        My project
        {% endif %}
    </title>
</head>

<body>

    <div>
        My project:
        <a href=" {{url_for('index')}} ">Home</a>
        {% if current_user.is_anonymous %}
        <a href=" {{ url_for('login') }} ">Sign in</a>
        <a href="{{ url_for('register') }}">Sign up</a>
        {% else %}
        <a href=" {{url_for('logout')}} ">Sign out</a>
        {% endif %}
        <br>
        <hr>
    </div>
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
    {% block content %} {% endblock %}
</body>

</html>