<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>{% if title %}
        SSSN - {{ title }}
        {% else %}
        SSSN
        {% endif %}
    </title>
</head>

<body>

    <div class="container">
        <div class="header">
            <div class="home_button">
                <a class="header_link" href=" {{url_for('index')}} ">SSSN</a>
            </div>
            {% if current_user.is_anonymous %}
            <div class="header_links">
                <a class="header_link" href=" {{ url_for('login') }} ">Sign in</a>
                <a class="header_link" href="{{ url_for('register') }}">Sign up</a>
            </div>
            {% else %}
            <div class="header_links">
                <a class="header_link" href="{{ url_for('explore') }}">Explore</a>
                <a class="header_link" href="{{ url_for('friends', username=current_user.username) }}">Friends</a>
                <a class="header_link" href="{{ url_for('messenger') }}">Messages</a>
                <a class="header_link" href="{{ url_for('user', username=current_user.username) }}">Profile</a>
                <a class="header_link" href=" {{ url_for('logout') }} ">Sign out</a>
            </div>
            {% endif %}
            <br>
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div>
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endwith %}

        <div class="content">
            {% block content %} {% endblock %}
        </div>
        <div class="footer">
            <div>copyright 2021</div>
            <div>contact me: 17rolex@gmail.com</div>
        </div>
    </div>

</body>

</html>