{% extends "base.html" %}

{% block content %}

<h1>TODO</h1>
<ul>
    <li><s>foloweers -> friends</s></li>
    <li>messages
        <ol>
            <li>message form</li>
            <li>message counter</li>
            <li>...</li>
        </ol>
    </li>
    <li>css</li>
</ul>

{% if current_user.is_anonymous %}
<h1>Hello, Stranger!</h1>
<p>First time here?</p>
<a href="{{ url_for('register') }}">Sign up</a>
<p>Already have account?</p>
<a href="{{ url_for('login') }}">Sign in</a>
{% else %}
<h1>Hello, {{ current_user.username }}!</h1>
<h4>What's new?</h4>
{% include "_post_form.html" %}
<div>
    {% if posts %}
    {% for post in posts %}
    {% include "_post.html" %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Previous page</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Next page</a>
    {% endif %}
    {% else %}
    <p>There is no posts yet :(</p>
    {% endif %}
</div>

{% endif %}
{% endblock %}