{% extends "base.html" %}
{% block content %}

<div class="profile">
    <div class="user_info">
        {% if user.profile.media %}
        <img src="{{ user.profile.media.path }}" alt="photo" class="profile_avatar">
        {% endif %}
        <h1>{{ user.username }} profile</h1>
        {% if current_user.username == user.username %}
        <a href="{{ url_for('edit_profile', username=current_user.username) }}">Edit</a>
        {% endif %}
        <br>

        {% if current_user.username != user.username %}
        {% if not current_user.friend_status(user) or current_user.friend_status(user) == 'unfriended' %}
        <a href="{{ url_for('friend_request', username=user.username) }}">Add friend</a>
        {% elif current_user.friend_status(user) == 'requested_to' %}
        <a href="{{ url_for('approve_request', username=user.username) }}">Approve</a>
        <a href="{{ url_for('reject_request', username=user.username) }}">Reject</a>
        {% elif current_user.friend_status(user) == 'requested_from' %}
        <h6>Friend request sended</h6>
        {% elif current_user.friend_status(user) == 'approved' %}
        <a href="{{ url_for('unfriend', username=user.username) }}">Delete from friends</a>
        {% endif %}
        {% endif %}

        <br>

        <h3>info:</h3>
        {% if profile %}
        <ul>
            <li>date of birth: {{ profile.date_of_birth }}</li>
            <li>gender: {% if profile.gender == 'm' %}male{% elif profile.gender == 'f' %}female{% endif %}</li>
            <li>about me: {{ profile.info }}</li>
        </ul>
        {% else %}
        <p>There is nothing here yet :(</p>
        {% endif %}
        <br>
        <a href="{{ url_for('friends', username=user.username) }}">{{user.username}}'s friends</a>
    </div>

    <div class="post_wall">
        <h3>{{ user.username }} posts:</h3>
        {% include "_post_form.html" %}
        {% if posts %}
        {% for post in posts %}
        {% include "_post.html" %}
        {% endfor %}
        {% if prev_url %}
        <a href="{{ prev_url }}">Previous page</a>
        {% endif %}
        {% if next_url %}
        <a href="{{ next_url }}">Next page</a>
        {% endif %}
        {% else %}
        <p>There is no posts yet :(</p>
        {% endif %}


    </div>
</div>

{% endblock %}